[package]
name = "luna-analyzer-rust"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
derive_macro = { path = "derive_macro" }

bufreaderwriter = "0.1.2"
bytemuck = { version = "1.8.0", features = ["extern_crate_alloc"] }
bytemuck_derive = "1.0.1"
gtk = { version = "*", package = "gtk4" }
memmap2 = "0.5.3"
num_enum = "0.5.6"
once_cell = "1.5"
pcap = "0.9.1"
tempfile = "3.3.0"
thiserror = "1.0.30"
bitfield = "0.13.2"
